@import '../../styles/var.scss';

.shopping {
  margin: 4rem 0;

  article {
    header {
      display: flex;
      justify-content: space-between;

      h1 {
        margin-bottom: 1.25rem 0;
      }
    }
  }

  .order_summary {
    margin: 2.5rem 0;

    h2 {
      margin-bottom: 1.25rem;
      font-size: 0.875rem;
      font-weight: 700;
    }

    dl {
      @include flexbox(between);
      margin-bottom: 1.25rem;
      font-size: 0.875rem;

      .order_price {
        dt {
          font-weight: 700;
        }

        dd {
          font-size: 1.375rem;
        }
      }
    }
  }
}
